@charset "ISO-8859-1";
.find_form {	
	background-color: #b65059;
	width:500px;
	height: 400px;
	border-radius: 30px;	
	padding: 0px 20px;
	margin:auto;
	margin-top: 10px;
	font-size: 24px;
	
}

body {
	background: #b65059 !important;
	
}

input[type=text] {
  width: 100%;
  padding: 10px 20px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.find_form input[type=submit] {
  width: 100%;  
  padding: 14px 20px;
  margin: 0px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f2f2f0;
}


/* Results form put into table layout */
#results_form {
	display: table;
	font-weight: bold;
	color: #f2f2f0;
	margin: auto;
}
#result_headers {
	display: table-row;
	font-size: 24px;
}
#results_form label{
	display: table-cell;
}
#result_row {
	display: table-row;
}
#result_row span {
	display: table-cell;
}
#rest_name button[type=submit] {
	background-color: #b65059;
	text-align: left;
	color: #f2f2f0;
	border: none;
	text-decoration: underline;
	font-weight: bold;
}
#rest_name, #rest_address, #rest_cuisine {
	display: table-cell;
}

#results_form label, #result_row span {
	padding-right: 32px;
}

#menu_item_row {
	color: #f2f2f0;
}
#item_name {
	font-weight: bold;
	font-size: 24px;
}
#item_type {
	font-style: italic;
}
#item_price {
	font-weight: bold;
	font-size: 24px;
}