@charset "ISO-8859-1";
.find_form {	
	background-color: #b65059;
	width:500px;
	height: 400px;
	border-radius: 30px;	
	padding: 0px 20px;
	margin:auto;
	margin-top: 10px;
	font-size: 24px;
	
}

body {
	background: #b65059 !important;
}

input[type=text] {
  width: 100%;
  padding: 10px 20px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black !important;
}

.find_form input[type=submit] {
  width: 100%;  
  padding: 14px 20px;
  margin: 0px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h2 {
    font-size: 4em !important;
    background-color: #b65059;
    color: white !important;
}

#cart_header_text {
    text-align: center;
}

.startOver, .updateTotal {
    height: 50px;
    width: 200px;
    background: #f2f2f0;
    border: none;
    color: #23213d;
	font-size: 24px;
	border-radius: 4px;
}

.checkoutButton {
    height: 50px;
    width: 200px;
    background: #23213d;
    border: none;
    color: #f2f2f0;
	font-size: 24px;
	border-radius: 4px;
}

.totals {
    margin-right: 40px;
    text-align: left;
    font-size: 18px;
    color: white;
    border-collapse: separate;
    border-spacing: 10px;
}

.payment_type_select {
	margin-left: 55px !important;
	width: 200px;
	color: #23213d;
}


input[type=number]{
	color: #23213d;
}

.customer_info_container {
	width: 730px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

#checkout_form, #start_over_btn, #cart {
	padding-left: 64px;
	margin: auto;
	width: 730px;
	color: #f2f2f0;
	font-weight: bold;
}

#cart {
	text-align: center;
}

#cart th {
	font-size: 24px;
	text-decoration: underline;
}

#checkout_form label {
	padding-top: 16px;
}

#subtotal_field, #grand_total_field {
	font-size: 24px;
	color: #c3d442;
}

/* Results form put into table layout */
#results_form {
	display: table;
	font-weight: bold;
	color: #f2f2f0;
	margin: auto;
}
#result_headers {
	display: table-row;
	font-size: 24px;
}
#results_form label{
	display: table-cell;
}
#result_row {
	display: table-row;
}
#result_row span {
	display: table-cell;
}
#rest_name button[type=submit] {
	background-color: #b65059;
	text-align: left;
	color: #f2f2f0;
	border: none;
	text-decoration: underline;
	font-weight: bold;
}
#rest_name, #rest_address, #rest_cuisine {
	display: table-cell;
}

#results_form label, #result_row span {
	padding-right: 32px;
}

#menu_item_row {
	color: #f2f2f0;
}
#item_name {
	font-weight: bold;
	font-size: 24px;
}
#item_type {
	font-style: italic;
}
#item_price {
	font-weight: bold;
	font-size: 24px;
}