@charset "ISO-8859-1";
body {
	background: #b65059 !important;
	
}

h1 {
    background-color: #d2f0fa;
    color: pink !important;
    font-family: 'Archivo Narrow', sans-serif !important;
    font-size: 6em !important;
    margin-bottom: 0px !important;
    color: white !important;
}

h4 {
    font-family: 'Courier New', Courier, monospace !important;
    background-color: #b65059;
    color: white !important;
}

h2 {
    font-family: 'Archivo Narrow', sans-serif !important;
    font-size: 4em !important;
    background-color: #b65059;
    color: white !important;
}

p {
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 13px;
    color: white;
}

#cart thead th {
    font-family: 'Courier New', 'Courier New', Courier, monospace !important;
    font-size: 16px; 
    font-weight: bold;
    text-align: center !important;
    color: white !important;
}

#cart thead th.cart_item {
     width: 100px;
}

#cart thead th.cart_price { 
    width: 100px;
}

#cart thead th.cart_quantity {
    width: 100px;
}

#cart_header_text {
    text-align: center;
}

.checkoutButton {
    height: 50px;
    width: 200px;
    background: red;
    border: none;
    color: white;
    font-family: 'Archivo Narrow', sans-serif !important;
    font-size: 24px;
}

.startOver {
    height: 50px;
    width: 200px;
    background: black;
    border: none;
    color: white;
    font-family: 'Archivo Narrow', sans-serif !important;
    font-size: 24px;
}

.updateTotal {
    height: 50px;
    width: 200px;
    background: black;
    border: none;
    color: white;
    font-family: 'Archivo Narrow', sans-serif !important;
    font-size: 24px;
}

.totals {
    position: fixed;
    margin-right: 40px;
    text-align: left;
    font-family: 'Courier New', 'Courier New', 'Courier New', Courier, monospace !important;
    font-size: 18px;
    color: white;
}

.final_total {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}

#orderConfirmMessage {
	font-size: 1.5em;
	color: white;
}

#totals_table_container {
    position: fixed;
    display: flex;
    justify-content: flex-end;
}