<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">

<title>FoodFlight</title>
</head>
<body>
<div class="container">
	<div class="header">
		<img src="/images/FoodFlightMock0.png">
	</div>
	<div class="find_form">
		
		<form action="#" th:action="@{/findrestaurants}" th:object="${user}" method="post">
			<label for ="address">Street Address</label>
			<input type="text" id="address" name="address" value=""><br />
			
			<label for ="address_2">Address 2</label>
			<input type="text" id="address_2" name="address_2" value=""><br />
			
			<label for ="city">City</label>
			<input type="text" id="city" name="city" value=""><br />
			
			<label for ="state">State</label>
			<input type="text" id="state" name="state" value=""><br />
			
			<label for ="zip_code">Zip Code</label>
			<input type="text" id="zip_code" name="zip_code" value=""><br />
			
			<br />
			<input type="submit" value="Submit">
		</form>
	</div>
</div>
</body>
</html>