<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
    <head>

        <title>Your Order</title>
        <link href="/style.css" rel="stylesheet" type="text/css">
    	<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:600i,700i|Roboto+Mono&display=swap" rel="stylesheet">
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    	<script type="application/javascript" th:src="@{/cart_checkout.js}"></script>
		<meta charset="ISO-8859-1">

    </head>

    <body>
      <header id="cart_header_text">
        <h2>Your Meal Ticket</h2>
        <br />
      </header>
      
      <main>
       <table id="cart">
        <tr>
          <th class="cart_item">Item</th>
          <th class="cart_price">Price</th>
          <th class="cart_quantity">Quantity</th>
        </tr>
        <tr th:each="lineItem: ${lineItems}">
          <td th:text = ${lineItem.dishId}></td>
          <td th:text = ${lineItem.lineItemAmount}></td>
          <td th:text = ${lineItem.qty}></td>          	
        </tr>
       </table><br><br><br><br><br><br><br>
       
       <form id="resultsForm" action="#" th:action="@{/order/submit}" method="post">

        <label for="firstname_field">First name:</label>
        <input id="firstname_field" type="text" th:name="firstName"><br>

        <label for="lastname_field">Last name:</label>
        <input id="lastname_field" type="text" th:name="lastName"><br>

        <label for="phone_field">Phone number:</label>
        <input id="phone_field" type="text" th:name="phone"><br>

        <label for="payment_type_select">Payment type:</label>
        <select class="payment_type_select">
          <option th:value="credit_card">Credit Card</option>
          <option th:value="paypal">Paypal</option>
          <option th:value="google_pay">Google Pay</option>
          <option th:value="shopify">Shop Pay</option>
        </select><br>

        <label for="subtotal_field">Subtotal:</label>
        <span id="subtotal_field" th:text="${orderTotal}"></span><br>
        <input type="hidden" th:name="subtotal" th:value="${orderTotal}" />
        
        <label for="tip_field">Tip:</label>
        <input id="tip_field" type="number" th:value="0" min="0" step="0.01" th:name="tip"><br>
        
        <label for="grand_total_field">Grand total:</label>
        <span id="grand_total_field" th:text="${orderTotal}"></span><br>
		<input id="grandTotal" type="hidden" th:name="grandtotal" th:value="${orderTotal}" />

        <button type="button" class="updateTotal" th:name="updateTotal" onclick="calcFinal()">Update Total</button>
        <button class="checkoutButton" th:name="checkoutButton" type="submit" th:value="true">Submit Order</button>
        <input type="hidden" id="sessionId" th:name="sessionId" th:value="${sessionId}" th:text="${sessionId}" />

      </form><br>
      <form action="#" th:action="@{/nearme}" method="post">
      	<button class="startOver" th:name="startOver">Start Over</button>
      	<input type="hidden" id="sessionId" th:name="sessionId" th:value="${sessionId}" th:text="${sessionId}" />
      </form>

  </main>
      
</body>
</html>