<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<link href="/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- <script src="/order_form.js"></script> -->
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">

<title>FoodFlight</title>
</head>
<body>
<div class="container">
	<div class="header">
		<img src="/images/FoodFlightMock0.png">
	</div>
	<form id="orderForm" action="#" th:action="@{/order/summary}" name="orderForm" method="post">
		<span id="menu_item_row" th:each="menu_item : ${menu}">
			<input type="number" id="qty" name="qty" value="0" min="0">
			<input type="hidden" id="dishId" th:name="dishId" th:value="${menu_item.id}" />
			<input type="hidden" id="price" th:name="price" th:value="${menu_item.price}" />
			<span id="item_name" th:text="${menu_item.name}"></span>
			<span id="item_type" th:text="${menu_item.dishType}"></span><br>
			<span id="item_description" th:text="${menu_item.dishDescription}"></span>
			<span id="item_price" th:text="${menu_item.price}"></span><br><br>
		</span>
		<input type="hidden" id="sessionId" th:name="sessionId" th:value="${sessionId}" th:text="${sessionId}" />
		<input type="submit" value="Submit">
	</form>
	
</div>
</body>
</html>